{% extends "unfold/layouts/base.html" %}
{% comment %} {% extends "admin/change_form.html" %} {% endcomment %}

{% load admin_urls admin_list static i18n admin_modify %}


{% block content %}
    {% if request.user.is_superuser %}
        <p>{{content}}</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="alert alert-block alert-error">
            <h4 class="alert-heading">{% trans "Please confirm deletion" %}.</h4>
            <p>{% blocktrans %}This operation is destructive, cannot be undone and may require some minutes.{% endblocktrans %}</p>
            <p>{% blocktrans %}Are you sure you want to permanently remove all objects ?{% endblocktrans %}</p>
            <br>
            <div class="submit-row">
                {# djlint: off #}
                <input type="submit"
                    class="btn btn-danger deletelink"
                    name="btn-confirm"
                    value="{% trans "Yes, I'm sure" %}">
                <input type="submit"
                        class="btn"
                        name="btn-cancel"
                        value="{% trans "Cancel" %}">
                {# djlint: on #}
            </div>
        </div>
    </form>
{% endblock %}
