.reset-link:hover {
    color: rgb(var(--color-primary-600)/var(--tw-bg-opacity));
}

.start-image {
    margin-left: 10px !important;
    width: 10%;
}

.errorlist {
    color: rgb(255, 59, 48);
    background-color: rgba(255, 59, 48, 0.1);
    padding: 0.5rem;
    border: 1px solid rgba(255, 59, 48, 0.5);
    border-radius: 0.375rem;
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

td[data-label="Name"]>div {
    max-width: 350px;
    /* Set a maximum width */
    overflow-wrap: break-word;
    /* Ensure long words break */
}

td[data-label="Default"]>div {
    max-width: 200px;
    /* Set a maximum width */
    overflow-wrap: break-word;
    /* Ensure long words break */
}

td[data-label="Value"]>div {
    max-width: 75%;
    overflow-wrap: break-word;
}

#date-picker,
#time-picker {
    width: fit-content;
    flex-direction: row;
}
